/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/*
 * helper classes
 */

.hidden {
    display: none;
}

/*
 * Typographic basic styling of body, heading elements and .heading and .description classes (containers of heading elements)
 */

body {
    font: normal 14px/1em 'Open Sans', sans-serif;
}

h1 {
    font-size: 5.14em;
    line-height: 1.5em;
    font-weight: 800;
}
h2 {
    font-size: 5.14em;
    line-height: 1.3em;
    font-weight: 800;
    letter-spacing: -4px; /* letter-spacing's em units are not correctly rendered */
}
h3 {
    font-size: 3.42em;
    line-height: 1.3em;
    font-weight: normal;
}

.headings { /* heading styles */
    text-align: center;

    padding-bottom: 2.084%;
}
    .headings h2 span {
        font-weight: 300;
    }
.description { /* subheading styles */
    font-size: 2.57em;
    line-height: 1em;

    padding-bottom: 0.522%;
}

/*
 * Size, positioning and background basic styling of 'wrapper', section, article (and their paragraph child) elements
 */

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.white-section,
.grey-section {
    padding: 5.255% 0;
}
.grey-section {
    background-color: #829aa7;
}
.white-section {
    background-color: #f5f5f5;
}

    .grey-section article,
    .white-section article {
        width: 29.167%;
        float: left;
    }
        .grey-section article p,
        .white-section article p {
            text-align: justify;
            line-height: 1.5em;

            overflow: hidden;
            max-height: 180px;
        }

/*
 * 'Read More' buttons/links basic styling
 */

.read-more-large {
    text-align: center; /* Centers horizontally the container of large 'Read More' buttons */
}
.read-more-large-white, /* Base styles for all 'Read More' buttons */
.read-more-large-grey,
.read-more-white,
.read-more-grey {
    line-height: 2.4em;
    text-decoration: none;

    display: inline-block;
    border-radius: 0.4em;

    padding: 0 1em;

    -moz-transition: -moz-background 0.5s linear;
    -o-transition: -o-background 0.5s linear;
    -webkit-transition: -webkit-background 0.5s linear;
    transition: background 0.5s linear;
}
.read-more-grey,
.read-more-large-grey {
    background: #636a66;
    /* IE 9 */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYzNmE2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MjViNTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #636a66 0%, #525b55 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#636a66), color-stop(100%,#525b55)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #636a66 0%,#525b55 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #636a66 0%,#525b55 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #636a66 0%,#525b55 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #636a66 0%,#525b55 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636a66', endColorstr='#525b55',GradientType=0 );

    border: 1px solid #535955;

    color: #3d433f;
    text-shadow: 1px 1px #76837b;
}
.read-more-grey:hover {
    background: #1a6f96;

    border: 1px solid #1a6f96;

    color: #fff;
    text-shadow: 1px 1px #5f5e5e;
}
.read-more-white,
.read-more-large-white {
    background: #f9f9f9;
    /* IE 9 */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f9f9f9 0%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f2f2f2 100%);
    background: -o-linear-gradient(top,  #f9f9f9 0%,#f2f2f2 100%);
    background: -ms-linear-gradient(top,  #f9f9f9 0%,#f2f2f2 100%);
    background: linear-gradient(to bottom,  #f9f9f9 0%,#f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f2f2f2',GradientType=0);

    border: 1px solid #e0dddd;

    color: #9a9999;
    text-shadow: 1px 1px #fff;
}
.read-more-white:hover,
.read-more-large-white:hover {
    background: #186f96;
    border: 1px solid #7e7e7e;

    color: #fff;
    text-shadow: 1px 1px #5f5e5e;
}

.read-more-large-grey, /* Base styles for large 'Read More' buttons */
.read-more-large-white {
    font-size: 2em;
}
.read-more-large-grey {
    color: #fff;
    text-shadow: 1px 1px #272727;
}
.read-more-large-grey:hover {
    background: #3d4c55;
    text-shadow: 1px 1px #5f5e5e;
}
.read-more-large-white {
    color: #636b66;
}

/* ==========================================================================
   Landing page custom styles
   ========================================================================== */

/*
 * Starts Top Navigation /Site-logo, main-nav & slider/
 */
#top-nav {
    background: #c2ced3 url('../images/header-bg.png') left top repeat-x;
    background-size: 100% 100%;
    background-color: #2a93c4;
}

    .main-nav {
        padding-top: 2.605%;
    }
        #site-logo {
            font-size: 2.43em;
            line-height: 1em;
            color: #fff;
            text-shadow: 1px 1px #000;
            text-decoration: none;

            margin-left: 1.563%;
            margin-right: 0.521%;
        }
        .main-nav ul {
            padding-top: 0.5%;
            float: right;
        }
            .main-nav ul,
            .main-nav li {
                display: inline-block;
            }
            .main-nav li {
                float: left;
            }
                .main-nav li a {
                    font-size: 1em;
                    line-height: 2em;
                    color: #fff;
                    text-decoration: none;

                    display: inline-block;
                    margin-right: 5px;
                    padding: 0 12px;
                    border: 1px solid transparent;

                    -moz-transition: -moz-background 0.5s linear;
                    -o-transition: -o-background 0.5s linear;
                    -webkit-transition: -webkit-background 0.5s linear;
                    transition: background 0.5s linear;
                }
                    .main-nav li a:hover,
                    .main-nav li .active {
                        border: 1px solid #7e7e7e;
                        border-radius: 5px;

                        background-color: #186387;
                    }
                    .main-nav li .active {
                        font-weight: 800;
                    }
    #top-nav .headings { /* Simple & Flexible */
        color: #fff;
        text-shadow: 1px 1px #016492;

        padding-top: 5.209%;
    }

/*
 * 'Basic jQuery slider' styles
 */

    #container {
        position: relative;
    }
        #banner-fade {
            margin: 0 auto;
        }

            ul.bjqs-controls.v-centered li a,
            ul.bjqs-controls.v-top li a {
                /*width: 2.32%;
                height: 14.92%;*/ /* Fluid sizes */
                width: 44px;
                height: 44px;
            }
            ul.bjqs-controls.v-centered li.bjqs-prev a,
            ul.bjqs-controls.v-top li.bjqs-prev a {
                background: transparent url('../images/left-arrow.png') left top no-repeat;
                background-size: 100%;

                left: 7.0945%;
            }
            ul.bjqs-controls.v-centered li.bjqs-next a,
            ul.bjqs-controls.v-top li.bjqs-next a {
                background: transparent url('../images/right-arrow.png') right top no-repeat;
                background-size: 100%;

                right: 7.0945%;
            }

/*
 * Starts Ad Panel
 */

#ad-panel {
    background-color: #fff;
}
    #ad-panel article {
        margin: 0 2.084%;
        margin-bottom: 5.209%;
    }
        #ad-panel article .quote-mark-large {
            font: normal 8.571em Arial, sans-serif;
            color: #626965;
            text-align: center;

            background: transparent url('../images/quote-circle.png') center top no-repeat;

            padding-top: 7.143%;
            margin-bottom: -7.143%;
        }
        #ad-panel article h2 {
            font-size: 1.714em;
            font-weight: 300;
            letter-spacing: 0;
        }
            #ad-panel article h2 a {
                color: #a3a2a2;
                text-decoration: none;
            }
        #ad-panel article p {
            color: #555e58;

            margin: 3.572% 0;
        }
        #ad-panel article .read-more-white {
            float: right;
        }

        #ad { /* section#ad-panel div#ad */
            clear: both;
            position: relative;
        }
        #ad:before {
            background: transparent url('../images/left-quote.png') left center no-repeat;
            content: '';

            position: absolute;
            left: 0;

            width: 26px;
            height: 24px;
        }
        #ad:after {
            background: transparent url('../images/right-quote.png') right center no-repeat;
            content: '';

            position: absolute;
            top: 0;
            right: 0;

            width: 26px;
            height: 24px;
        }
            #ad h3 {
                font-size: 2.143em;
                font-weight: 800;
                letter-spacing: -2px;
                color: #555e58;
                text-align: center;

                margin: 0;
                padding: 0 50px;
            }
            #ad p {
                font-size: 1.71em;
                font-weight: 300;
                line-height: 1.5em;
                letter-spacing: -1px;
                color: #555e58;
                text-align: center;
            }

/*
 * Starts Main Content
 */

/*
 * 'News & Update' Grey Section styling
 */

.grey-section h2,
.grey-section .description {
    color: #fff;
    text-shadow: 1px 1px #464c48;
}
.grey-section article {
    margin: 0 2.084% 6.25% 2.084%;
}
    .grey-section article h3 {
        font-size: 1.429em;
        background: transparent url('../images/article-circle.png') center top no-repeat;

        padding-top: 85px; /* Fixed padding for background and text */
    }
        .grey-section article h3 a {
            line-height: 1em;
            color: #fff;
            text-decoration: none;
        }
    .grey-section article .meta-info {
        color: #b0bab4;
        text-shadow: 1px 1px #464c48;

        display: block;
        margin: 1.786% 0;
    }
        .grey-section article .meta-info a {
            color: #b0bab4;
            text-decoration: none;
        }
    .grey-section article p {
        color: #fff;

        margin-bottom: 3.572%;
    }
    .grey-section article .read-more-grey {
        float: right;
    }
.grey-section .read-more-large {
    clear: both;
}

/*
 * 'Work & Feedback' White Section styling
 */

.white-section h2,
.white-section .description {
    color: #636b66;
    text-shadow: 1px 1px #fff;
}
    i {
        font-size: .8em;
    }
    .white-section .dark-circle-btn,
    .white-section .circle-container {
        border: 1px solid #7e7e7e;
        border-radius: 50%;

        position: relative;
        float: left;

        width:  262px;
        height: 262px;

        margin: 30px 27px 50px 27px;
    }
    .white-section .dark-circle-btn {
        background-color: #d4d4d4;
    }
    .white-section .circle-container { /* Light circles styling */
        background-color: #efefef;
    }
    .white-section .circle-content {
        position: absolute;
        top: 35%;

        padding: 0 2.675%;
        width: 95.5%;

        text-align: center;
    }
        .white-section .circle-content time {
            font-size: 0.857em;
            color: #4a524d;
            text-shadow: 1px 1px #fff;

            display: block;
            padding: 0 9.995%;
        }
        .white-section .circle-content p {
            font-size: 1.286em;
            line-height: 1em;
            color: #4a524d;
            text-shadow: 1px 1px #fff;

            margin: 5% 0;
            padding: 0 9.995%;
        }
        .white-section .read-more-large {
            clear: both;
        }

/*
 * 'Plans & Pricing' Grey Section styling /Table/
 */

.grey-section table {
    color: #fff;
    text-shadow: 1px 1px #1d2123;

    border: 1px solid #35424c;
    border-collapse: collapse;

    margin: 0 auto;
    margin-bottom: 6.25%;

    background-color: #465662;
    width: 100%;
}
    .grey-section table td,
    .grey-section table th {
        line-height: 4.08em;
        text-align: center;
        border: 1px solid #35424c;

        width: 33.12%;
    }
    .grey-section table th {
        font-size: 1.286em;
        font-weight: 800;

        background-color: #3d4b56;
    }
        .grey-section table td span.enabled,
        .grey-section table td span.disabled {
            padding-left: 10%;
        }
        .grey-section table td span.enabled {
            background: transparent url('../images/enabled.png') left center no-repeat;
        }
        .grey-section table td span.disabled {
            background: transparent url('../images/disabled.png') left center no-repeat;
        }
    .grey-section table tr:last-child td {
        font-size: 3.714em;
        line-height: 2.25em;
        text-shadow: 1px 1px #282e31;
        text-align: center;

        background-color: #4a5b67;
    }

/*
 * Ends Main Content
 */

/*
 * Starts Main Footer
 */

footer article {
    max-height: 280px;
    margin: 2.084% 2.084% 0 2.084%;
}
footer article:first-child {
    margin-top: 0;
    margin-left: 0;
    padding-top: 0;
}
footer article:last-child {
    margin-right: 0;
}
        footer article #copyright a {
            font-size: 2.571em;
            line-height: 1.5em;
            color: #555e58;
            text-decoration: none;
        }
        footer article #copyright em {
            display: block;
            font-size: 1em;
            color: #bfbfbf;
        }
        footer article p {
            line-height: 1.5em;
            text-align: justify;
            color: #555e58;

            max-height: 170px;
            margin: 1.786% 0;
            overflow: hidden;
        }
        footer article:first-child p {
            margin-top: 0.715%;
        }
        footer article h2 {
            font-size: 1.429em;
        }
            footer article h2 a {
                font-weight: normal;
                letter-spacing: 0;
                color: #555e58;
                text-decoration: none;
            }

/*
 * Starts Bottom Footer
 */

footer #course-id {
    font-size: 0.857em;
    color: #555e58;
    text-align: right;

    margin: 0 auto;
    margin-top: 2.628%;
    padding-top: 2.628%;

    border-top: 1px solid #e4e4e4;
    -webkit-box-shadow: inset 0px -1px 0px #fff;
    -moz-box-shadow: inset 0px -1px 0px #fff;
    box-shadow: inset 0px 1px 0px #fff;
}
    footer #course-id a {
        font-weight: 800;
        color: #555e58;
        text-decoration: none;
    }

/* ==========================================================================
   Internet Explorer Workarounds
   ========================================================================== */

/*
 * Removes MS filter property only in IE9 only
 */

.read-more-grey:not([dummy]),
.read-more-large-grey:not([dummy]),
.read-more-grey:hover:not([dummy]),
.read-more-white:not([dummy]),
.read-more-large-white:not([dummy]),
.read-more-white:hover:not([dummy]),
.read-more-large-white:hover:not([dummy]),
.read-more-large-grey:hover:not([dummy]) {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='false');
}

/* ==========================================================================
   Media Queries: opinionated defaults
   ========================================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) and (min-width: 768px) {

/*
 * Typographic basic styling of body, heading elements and .heading and .description classes (containers of heading elements)
 */

    h1 {
        font-size: 4.29em;
    }
    h2 {
        font-size: 4.29em;
    }
    h3 {
        font-size: 3.42em;
    }

    .description { /* subheading styles */
        font-size: 2.14em;
    }

/*
 * Size, positioning and background basic styling of 'wrapper', section, article (and their paragraph child) elements
 */

    .wrapper {
        width: 728px;
        margin: 0 auto;
    }

    .grey-section article p,
    .white-section article p {
        max-height: none;
    }

/*
 * Starts Top Navigation /Site-logo, main-nav & slider/
 */
    /*
     * removes extra links from main-nav
     */

    .main-nav li:nth-child(n + 6) {
        display: none;
    }

    ul.bjqs-controls.v-centered li a,
    ul.bjqs-controls.v-top li a {
        width: 33px;
        height: 33px;
    }

    #ad-panel article h2 {
        font-size: 1.286em;
    }

    #ad h3 {
        font-size: 2.143em;
    }

/*
 * Starts Main Content
 */

/*
 * 'News & Update' Grey Section styling
 */

    .grey-section article h3 {
        font-size: 1.214em;
    }
    .grey-section article .meta-info {
        font-size: 0.929em;
    }

/*
 * 'Work & Feedback' Grey Section styling
 */

    .white-section .dark-circle-btn,
    .white-section .circle-container {
        width:  200px;
        height: 200px;

        margin: 30px 20px 50px 20px;
    }

        .white-section .circle-content p {
            font-size: 1em;
        }
        .white-section .read-more-white {
            font-size: 0.857em;
        }

/*
 * 'Plans & Pricing' Grey Section styling /Table/
 */

    .grey-section table {
        width: 95.84%;
    }

/*
 * Ends Main Content
 */

/*
 * Starts Footer
 */

    footer article {
        margin-top: 12px;
    }
        footer article h2 {
            font-size: 1.286em;
        }
        footer article p {
            margin: 0;
        }
            footer article #copyright a {
                font-size: 1.929em;
            }
            footer article #copyright em {
                font-size: 0.857em;
            }
/*
 * Ends Footer
 */

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 767px) {

/*
 * Typographic basic styling of body, heading elements and .heading and .description classes (containers of heading elements)
 */

    h1 {
        font-size: 4.29em;
    }
    h2 {
        font-size: 3.42em;
    }
    h3 {
        font-size: 3.42em;
    }

    .description { /* subheading styles */
        font-size: 1.71em;
    }

/*
 * Size, positioning and background basic styling of 'wrapper', section, article (and their paragraph child) elements
 */

    .wrapper {
        width: 440px;
        text-align: center;
    }

/*
 * Starts Top Navigation /Site-logo, main-nav & slider/
 *
 */
    #site-logo {
        margin: 0;
    }
    .main-nav ul {
        float: none;
        margin-top: 20px;
    }
    .main-nav li {
        float: none;
        display: block;
    }
    .main-nav li a {
        width: 320px;
        font-size: 2.14em;
        line-height: 42px;
    }

    /*
     * removes extra links from main-nav
     */
    .main-nav li:nth-child(n + 6) {
        display: none;
    }

    ul.bjqs-controls.v-centered li a,
    ul.bjqs-controls.v-top li a {
        width: 22px;
        height: 22px;
    }

    #ad-panel article,
    .grey-section article {
        width: auto;
        float: none;
        text-align: left;
    }
    #ad-panel article h2,
    #ad h3,
    .grey-section article h3 {
        font-size: 1.71em;
    }
    #ad-panel .quote-mark-large {
        display: none;
    }
    #ad p {
        font-size: 1.29em;
    }

/*
 * Starts Main Content
 */

/*
 * 'News & Update' Grey Section styling
 */
    .grey-section .headings {
        padding-bottom: 50px;
    }
    .grey-section article h3 {
        font-weight: 300;
        background: none;
        padding-top: 0;
    }
    .grey-section article .meta-info {
        font-size: 0.929em;
    }
    .grey-section article p {
        text-align: left;
    }

/*
 * 'Work & Feedback' Grey Section styling
 */
    .white-section .dark-circle-btn,
    .white-section .circle-container {
        width:  128px;
        height: 128px;

        margin: 30px 8px 50px 8px;
    }
    .white-section .circle-content {
        position: absolute;
        top: 50%;

        padding: 0 2.675%;
        width: 95.5%;

        text-align: center;
    }
        .white-section .circle-content time,
        .white-section .circle-content p {
            display: none;
        }
        .white-section .read-more-large {
            clear: both;
        }
/*
 * Ends Main Content
 */

/*
 * Starts Footer
 */

    footer.white-section article {
        width: auto;
        float: none;
        text-align: left;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 50px;
    }
        footer.white-section #copyright a {
            font-size: 2.14em;
        }
/*
 * Ends Footer
 */
}

/*
 * Testing area
 */